body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.title{
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
}
form{
    display: block;
    background: whitesmoke;
    box-shadow: 1px 1px 3px 2px #ddd;
    margin: 40px auto;
    max-width: 400px;
    /* min-height: 400px; */
    padding: 20px;
}
form input, textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px auto;
    padding: 8px;
    background: white;
    border: 1.5px solid rgb(207, 210, 211);
}

form button{
    height: 40px;
    width: 80px;
    align-items: center;
    border: 2px solid white;
    background: rgb(7, 7, 207);
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
    margin: 20px 0;
}